@model WHSIC.Model.Damaged_AssetViewModel

@{
    ViewBag.Title = "EditDamaged";
    Layout = "~/Views/Treasure/_DashBoard.cshtml";
}

<h2>Edit Damaged</h2>
<div class="well">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Damaged_ID)
            <input type="text" value="@ViewBag.qty" name="txtqty" hidden />
            <div class="form-group">
                @Html.LabelFor(model => model.Asset_Code, "Asset", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownList("Asset_Code", null, htmlAttributes: new { @style = "width:262px;height:38px;" })
                    @Html.ValidationMessageFor(model => model.Asset_Code, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Renter_code, "Renter", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownList("Renter_code", null, htmlAttributes: new { @style = "width:262px;height:38px;" })
                    @Html.ValidationMessageFor(model => model.Renter_code, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PayDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.PayDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PayDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "DamagedList")
    </div>

    @if (ViewBag.feed != null)
    {
        <script type="text/javascript">
            alert("@ViewBag.feed")
        </script>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>



