<!DOCTYPE HTML>
<html>
<head>
    <title> Treasure Page |  Whsic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Augment Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
      Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <!-- Bootstrap Core CSS -->
    <link href="~/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="~/css/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
    <script src="~/js/jquery-1.10.2.min.js"></script>
 
    <script src="~/js/skycons.js"></script>

    <script src="js/jquery.easydropdown.js"></script>

    <!--//skycons-icons-->
</head>
<body>
    <div class="page-container">
        <!--/content-inner-->
        <div class="left-content">
            <div class="inner-content">
                <!-- header-starts -->
                <div class="header-section">
                    <!--menu-right-->
                    <div class="top_menu">
                        <div class="profile_details_left">
                            <ul class="nofitications-dropdown">
                                <li class="dropdown note dra-down">
                                    <div id="dd" class="wrapper-dropdown-3" tabindex="1" style="height:80px">
                                          
                                   </div>
                                    
                                </li>
                            </ul>
                            
                        </div>
                        <div>
                            <ul style="position:center">
                                <li> <span style="color: navy">@Html.Partial("_LoginPartial")</span></li>
                            </ul>
                        </div>
                        
                    </div>
                    <!--//menu-right-->
                    <div class="clearfix"></div>
                </div>
               
                <!-- //header-ends -->
                
                <div class="container body-content" style="padding-bottom: 25px">
                    @RenderBody()
                </div >
                <!--footer section start-->
                <br />
                <footer>
                    <p>&copy 2016 A</p>
                </footer>
            </div>
        </div>
        <!--//content-inner-->
        <!--/sidebar-menu-->
        <div class="sidebar-menu">
            <header class="logo">
                <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#">
                    <span id="logo"> <h1>Treasure</h1></span>
                    <!--<img id="logo" src="" alt="Logo"/>-->
                </a>
            </header>
            <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>

            <!--//down-->
            <div class="menu">
                <ul id="menu">
                    <li><a href="~/Treasure/FinancialReport"><i class="fa fa-balance-scale"></i> <span>Financial Report</span></a></li>
                    <li><a href="~/Salary/Index"><i class="fa fa-cc-mastercard"></i> <span>Employee Payment</span></a></li>
                    
                    
                    <li id="menu-academico">
                        <a href="#"><i class="fa fa-dollar"></i><span> Asset Management</span><span class="fa fa-angle-right" style="float: right"></span></a>
                        <ul id="menu-academico-sub">
                            <li id="menu-academico-avaliacoes">@Html.ActionLink("Categories", "Index", "Asset_Category")</li>
                            <li id="menu-academico-boletim">@Html.ActionLink("Assets", "Index", "Asset")</li>
                            <li id="menu-academico-avaliacoes">@Html.ActionLink("Renters", "Index", "Asset_Renter")</li>
                            <li id="menu-academico-boletim">@Html.ActionLink("Rental", "Index", "AssetRental")</li>
                            <li id="menu-academico-avaliacoes">@Html.ActionLink("Suppliers", "SupplierList", "Supplier")</li>
                            <li id="menu-academico-boletim">@Html.ActionLink("Damaged", "DamagedList", "Damaged")</li>
                            <li id="menu-academico-boletim">@Html.ActionLink("Penalties", "GetPenalties", "Penalty")</li>
                        </ul>
                    </li>
                    <li id="menu-academico">
                        <a href="#"><i class="fa fa-cc-mastercard"></i> <span> Service</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                        <ul id="menu-academico-sub">
                            <li id="menu-academico-avaliacoes">@Html.ActionLink("Service Donation", "Index", "Servicees")</li>
                            <li id="menu-academico-boletim">@Html.ActionLink("Service Types", "GetAllServiceType", "ServiceType")</li>
                        </ul>
                    </li>
                    <li id="menu-academico">
                        <a href="#"><i class="fa fa-dollar"></i><span> Expenses</span><span class="fa fa-angle-right" style="float: right"></span></a>
                        <ul id="menu-academico-sub">
                            <li id="menu-academico-avaliacoes">@Html.ActionLink("Expense", "Index", "Expense")</li>
                            <li id="menu-academico-boletim">@Html.ActionLink("Paid Expenses", "Index", "Expense_Paid")</li>
                        </ul>
                    </li>

                    <li id="menu-academico">
                    <li>
                        <a href="~/Position/Index"><i class="fa fa-arrows-alt"></i> <span> Employment Positions</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                        <ul id="menu-academico-sub">
                            <li id="menu-academico-avaliacoes">@Html.ActionLink("Permanent", "Index", "FullTime")</li>
                            <li id="menu-academico-boletim">@Html.ActionLink("Freelance", "Index", "PartTime")</li>
                        </ul>
                    </li>
                    
                    <li id="menu-academico">
                        <a href="~/Donation/Index"><i class="fa fa-money"></i> <span> Donations</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                        <ul id="menu-academico-sub">
                            <li id="menu-academico-avaliacoes">@Html.ActionLink("View Donations", "Index", "Donation")</li>
                           
                        </ul>
                    </li>
                    
                </ul>
                
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <script>
							var toggle = true;

							$(".sidebar-icon").click(function() {
							  if (toggle)
							  {
								$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
								$("#menu span").css({"position":"absolute"});
							  }
							  else
							  {
								$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
								setTimeout(function() {
								  $("#menu span").css({"position":"relative"});
								}, 400);
							  }

											toggle = !toggle;
										});
    </script>
   
    <script src="~/js/jquery.nicescroll.js"></script>
    <script src="~/js/scripts.js"></script>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
