@model WHSIC.Model.ProjectConstructorViewModel

@{
    ViewBag.Title = "EditConstructors";
    Layout = "~/Views/Secretary/_DashBoard.cshtml";
}

<h2 class="text-center">Edit Constructors</h2>
<div class="well">
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ContructorID)
        @Html.HiddenFor(model => model.ProjectID)

        <div class="form-group">
            @Html.LabelFor(model => model.Constructor_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Constructor_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Constructor_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contact, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
        </div>
        }
    </div>
@if (ViewBag.feed!= null)
{
    <script type="text/javascript">
        alert("@ViewBag.feed")
    </script>
}
<div>
    @Html.ActionLink("Back to List", "GetAllProject","Project")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
