@model WHSIC.Model.AlgorithmDatesViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Admin/_DashBoard.cshtml";
}

<h2>Add periodical Dates</h2>
<div class="well">

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4> for automatical scheduling</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
     
        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Start" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if(ViewBag.m!=null)
{
    <script>
        alert('@ViewBag.m')
    </script>
}
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
